<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231970697447-ssos11t52h2mpqltfcv643d3o7o21jdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231970697447-ssos11t52h2mpqltfcv643d3o7o21jdg</string>
	<key>API_KEY</key>
	<string>AIzaSyC_9XUE-6-fcUXCFPhEE3cSfPRWNitpYBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>231970697447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dariuszkorybski.tadekNiejadek</string>
	<key>PROJECT_ID</key>
	<string>nakarm-bobasa</string>
	<key>STORAGE_BUCKET</key>
	<string>nakarm-bobasa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231970697447:ios:6c22f9eab965ad83a47242</string>
</dict>
</plist>